.synopsis {
    color: #7E8184;
    font-style: italic;
    
  }
  
  .button:link,               /* Поменяем это */
  .button:visited {           /* Поменяем это */
    display: block;           /* Поменяем это */
    text-decoration: none;

    color: rgb(125, 242, 23);
    background: repeating-radial-gradient(black, black 15px, white 15px, white 30px);
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #0b24fb;
    border-radius: 5px;
  
    width: 200px;
    margin: 20px auto;
  }
  .button:hover,
  .button:visited:hover {
   color: #FFF;
   background-color: #76AEED;
  }
  .button:active,
  .button:visited:active {
  color: #FFF;
  background-color: #5995DA;
  }
  .page {
    width: 600px;
    margin: 0 auto;
    background-image: url(1665144069.jpg);
    background-size: cover;
    background-origin: border-box;
  }

  .call-to-action:link,
  .call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;
  }

  .call-to-action:hover,
  .call-to-action:visited:hover {
   background-color: #F5CF8E;
  }

  .call-to-action:active,
  .call-to-action:visited:active {
   background-color: #EEB75A;
  }

  .synopsis em {
    font-style: normal;
  }
  a:link {
    color: blue;
    text-decoration: none;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    color: aqua;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
  }
  a:visited:hover {
    color: orange;
  }
  a:visited:active {
    color: red;
  }
  p:last-of-type {
    margin-bottom: 50px;
  }
  #button-2 {
    color: #5D6063;
    background-image: url(pticy-v-gorode-1.jpg), url(1665144069.jpg);
    background-size: cover;
    background-origin: padding-box;
  }
  body {
    background: #666 url(fade.png) 0 0 repeat-y;
    background: -webkit-linear-gradient(right, rgb(108, 224, 108), rgb(98, 143, 168)); 
    background: linear-gradient(to right, rgb(108, 224, 108), rgb(98, 143, 168));
  }