* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2 {
    background-color: #000000;
    color: white;
    padding: 20px 0 20px 10px;
  }
  .page {
    
    margin: 65px;
  }
  .heading {
    
    margin-bottom: 50px; 

  }
  img {
    display: block;
  }
  .content {
    margin-bottom: 50px;
   
  }
  ul {
   
    list-style-position: inside;
  }
  