* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Times New Roman';
  }

  .header, 
  .footer {
    background-color: #FFE138; 
    color: black;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px; 
  }



  .columns-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .columns-container-item {
    flex: 1;
    border: 1px solid black;
    margin: 15px;
    
    font-style: normal;
    font-size: 20px;
    height: fit-content;
  }

  h1 {
   font-size: 20px;
   padding: 10px;
  }

  p {
   padding: 10px;
  }

  .photo img {
   width: 100%;
   display: block;
  }
      
 @media only screen and (min-width: 961px) {
    .page {
      display: block;
      margin: 0 auto;
    }
  }

    .header,
    .footer {
      width: auto;
    }
    @media only screen and (max-width: 400px) {
     
      .header,
      .footer {
        width: auto;
    }
  }
    /* Макет для планшетов */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .page {
        display: block;
        margin: 0 auto;
      }
  
      .header,
      .footer {
        width: 100%;
      }

    }
